#!/usr/bin/make -f

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk

configure/libembryo-doc::
	cd $(DEB_SRCDIR) && ./gendoc

install/libembryo-doc::
	cp -R $(DEB_SRCDIR)/doc/html debian/libembryo-doc/usr/share/doc/libembryo-doc/
	rm $(DEB_SRCDIR)/doc/man/man3/todo.3

clean::
	rm -rf $(DEB_SRCDIR)/doc/html $(DEB_SRCDIR)/doc/latex $(DEB_SRCDIR)/doc/

DEB_INSTALL_MANPAGES_libembryo-doc := $(DEB_SRCDIR)/doc/man/man3/*.3
DEB_DH_STRIP_ARGS := --dbg-package=libembryo-dbg
DEB_CONFIGURE_EXTRA_FLAGS := --disable-rpath
